<h1>My first notebook</h1>

<p>This is my first notebook experience, where I will put into use what I learned in the course.<p>

<p>Data Science Languages:</p>
<ul>
    <li>Python</li>
    <li>Java</li>
    <li>R</li>
    <li>Julia</li>
</ul>

<p>Data Science Libraries:</p>
<ul>
    <li>Tensor Flow</li>
    <li>Matplotlib</li>
    <li>Pandas</li>
    <li>Numpy</li>
</ul>

<p>Data Science Tools:</p>
<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr><td>Scikit-learn</td></tr>
    <tr><td>Apache Spark</td></tr>
    <tr><td>Tableau</td></tr>
  
</table>

In [2]:
# Arithmetic Expression example:
1 + 2

3

In [3]:
# Multiply and add numbers
2 * 3 + 4

10

In [9]:
minutes = 60
hours = round(minutes / 60)
print(hours, "Hour")

1 Hour

<p>Objectives:</p>
<ul>
    <li>Learn Data Science</li>
    <li>Become successful in this field</li>
</ul>

<h3>Author's name = Yasmine</h3>